	@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
	
	*{
	font-family: 'Open Sans', sans-serif;	
	}
	
	h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
	}
	

div{
width : 250px;
height:250px;
background: #90a;
margin : 30px 15px;
padding: 10px;
float: left;
border: solid 5px green;
box-sizing: border-box;
overflow:hidden;
}

#test{
background : red;
clear:both;
}

._2{
	padding:60px;
}