<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
	<title>About</title>
	<!-- Sekcja style - określa style używane w dokumencie-->
<!--	<link rel="stylesheet" href="stylePierwszy.css"> -->

<!--<link rel="stylesheet" href="../assets/styleDwa.css">-->
	<link  th:href="@{assets/styleDwa.css}" rel="stylesheet" >
</head>

<body>
<nav>
	<ul>
		<li><a href="/">Moja zacna Strona Główna</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/formularz">Formularz Kontaktowy</a></li>
	</ul>
</nav>

<ul>
<li>1</li>
<li>2</li>
</ul>

<ol>
<li>1</li>
<li>2</li>
</ol>


<section id="test">asdxsadxasdxasdxasdxasdxadxasdxasdx</section>
</body>